 @section SubMenu { Hello This is a section implement in About View. } @{ ViewData["Title"] = "Home Page"; } @using System @using MVC_DotNet.Models @{ var joe = new {username="Joe", age=33}; }

<p>Age of new obj is @(joe.age)</p>
<hr/>
<form action="" method="get" class="form-horizontal" role="form">
    <div class="form-group">
        <legend>Form title</legend>
    </div>
    <area>@(ViewData["Title"])<area>

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div class="container">
    <hr/>
    <span>your username is @(Model==null?"ok":Model.username)</span>
    <hr/>
    <span>currrent time is @DateTime.Now</span>
    <span>Last week this time: @(DateTime.Now - TimeSpan.FromDays(7))</span>
</div>

<div class="container" id="part">

</div>

</div>
<script type="text/javascript">
    $(function() {
        $.ajax({
            type: 'GET',
            data: {
                id: 78
            },
            url: '/Myhome/jsontest',
            xhrFields: {
                withCredentials: true
            },
            success: function(data) {
                console.log(data);
            },
            error: function(err) {
                console.log(err.statusText);
                location.href = "/account/index";
            }
        });
        $.ajax({
            type: 'Post',
            data: {
                id: 78,
                username: 'halyhuang'
            },
            url: '/Myhome/part',
            dataType: "html",
            success: function(data) {
                $("#part").append(data);
            },
            error: function() {
                alert("part不执行");
            }
        });
        $.ajax({
            type: 'Post',
            data: {
                id: 78,
                username: 'halyhuang'
            },
            url: '/Myhome/SaveUser',
            dataType: "text",
            success: function(data) {
                console.log(data);
            },
            error: function() {
                alert("SaveUser不执行");
            }
        });
    })
</script>